<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
    <h1> Your Game Results </h1>
    <p> Here are the heroes you have played </p>


    <ul>
      <% rankData.forEach(rank => { %>
          <li>
                <a href="/rank/<%= rank._id %>">
                    <%= rank.heroname %>
                </a>
                (
                <a href="/rank/remove/<%= rank._id %>">
                    Remove
                 </a>
                ) First time played: <%= rank.createdAt %>
                <br>
          </li>
      <% }) %>
    </ul>



      <form method="post" action="/rank">
          new hero name: <input type="text" name="heroname"><br>
          <input type="submit" value="new hero!">
      </form>

  </div>

  <%- include('bootfooter') -%>
